<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>development</string>
	<key>teamID</key>
	<string>BFT8RB258K</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.credera.mobile.Credera-iOS-QA</key>
		<string>Credera Accelerator QA Profile</string>
	</dict>
</dict>
</plist>
